.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows of equal height */
  gap: 20px;                             /* space between grid items */
  height: 60vh;                          /* full viewport height */
  padding: 10px;
  position: relative;

  .accordion.inactive {
    display: none;
  }
  
  .accordion {
    background-color: #d38e8e;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%; /* fills its grid cell */
    /*position: relative;*/
  
    /* fill the grid cell */
    width: 100%;
    height: 100%;
    transition: all 0.3s ease; /* smooth expansion */

    .accordion-title {
      cursor: pointer;
      padding: 15px;
      background-color: #d38e8e;
      font-size: 1.4rem;
      text-align: center;
      &:hover {
        box-shadow: 0 4px 20px #d38e8e;
      }
    }
  
    .accordion-content {
      display: none;
      max-height: none;
      padding: 1.5em;
  
      p {
        margin: 10px;
      }
      p.hobbies{
          padding: 2em;
          font-style: italic;
          font-size: 1.2em;
          background: #d1ecc6;
      }
    }

    &.active {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 95vw;  /* grid width + gap compensation */
      height: calc(100% + 20px);     /* grid height + gap compensation */
      padding: 1.5em;
      background-color: #d1ecc6;

      .accordion-title {
        background-color: #d1ecc6;
        margin: 0 0 1em 0;
        display: block;
      }

     .accordion-content {
        display: block;
        z-index: 10;          /* above other grid items */
        box-shadow: 0 4px 20px rgba(0,0,0,0.3);
        border-radius: 0;     /* optional full expansion */
      }
    }
  }
  .accordion.active#skills .accordion-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 equal columns */
    grid-template-rows: repeat(2, 100px); /* 2 rows, 100px height each */
    gap: 20px;
    .askill{
      justify-self: center;
      padding: 0.5em;
      box-shadow: 0 4px 20px #d38e8e;

      h4, p {
        margin: unset;
        margin: 0.5em;
      }
    }
  }

  
  
  // Responsive
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 10px;
    gap: 5px;

    .accordion.accordion-title {
      font-size: 1.2rem;
      padding: 10px;
    }
    .accordion.active {
      width: 85vw;
      .accordion-title {
        padding: 0;
      }
    }
    .accordion.active#skills .accordion-content{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      overflow-y: auto;
      overflow-x: hidden;
      gap: 5px;
      height: 380px;
    }
  }
  }