.accordion {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
  
    .accordion-title {
      cursor: pointer;
      padding: 15px;
      background-color: #f5f5f5;
      font-size: 1.4rem;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  
    .accordion-content {
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease;
      padding: 0 15px;
  
      p {
        margin: 10px 0;
      }
      p.hobbies{
          padding: 2em;
          font-style: italic;
          font-size: 1.2em;
          background: #d1ecc6;
      }
    }
  
    &.active .accordion-content {
      display: block;
      max-height: 500px;
      padding: 15px;
    }
  }
  
  // Responsive
  @media (max-width: 768px) {
    .accordion-title {
      font-size: 1.2rem;
      padding: 10px;
    }
  }
  