@use "img";
@use "header";
@use "body";
@use "footer";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
header {
    padding: 2rem;
    background: #111;
    color: white;
  }
  