@use "img";
@use "header";
@use "body";
@use "blog";
@use "footer";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
.site-header {
    padding: 2rem;
    background: #111;
    color: white;
  }

main > div {
  scroll-margin-top: 120px; // adjust to your header height
}