@use "img";
@use "header";
@use "accordion";
@use "blog";
@use "footer";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 34vh 66vh;
  }
  
div #header {
  /* Make sure your header is fixed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh; /* example height */
  z-index: 999;
  background: #fff;
  
  headersite-header {
    padding: 2rem;
    background: #111;
    color: white;
  }
}
