@use "img";
@use "header";
@use "body";
@use "blog";
@use "footer";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
div #header {
  /* Make sure your header is fixed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px; /* example height */
  z-index: 999;
  background: #fff;
  
  headersite-header {
    padding: 2rem;
    background: #111;
    color: white;
  }
}

.main > div {
  scroll-margin-top: 200px; // adjust to your header height
}