@use "img";
@use "header";
@use "accordion";
@use "contacts";
@use "blog";
@use "footer";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 34vh 66vh;
  }

@media (max-width: 768px) {
  body { background-color: #d1ecc6;}
}